body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 62.5%;
  background-color: cornflowerblue;
  color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
